

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(146, 148, 151);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   margin-top: 20px;
}

#personForm {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}


h1{
    padding-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #b60c0c; /* Cor do texto (azul) */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    letter-spacing: 2px; /* Espaçamento entre as letras */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra do texto */
    text-align: center;
}

p{
    padding-top: 10px;
    padding-bottom: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.texto{
    text-align: center;
}


.display-details {
    margin-top: 20px;
    border-style: solid;
}

.p2{
    text-align: center;
}

.footer {
    margin-top: 10%;
    background-color: rgb(112, 109, 109); /* Cor de fundo */
    color: #fff; /* Cor do texto */
    text-align: center;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.nav1{
    background-color: rgb(122, 118, 118);
}

a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #434649; /* Cor do texto (azul) */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    letter-spacing: 2px; /* Espaçamento entre as letras */
    text-align: center; /* Alinhamento central */
    text-shadow: 2px 2px 4px rgba(88, 3, 114, 0.5); /* Sombra do texto */
    text-align: center;
}










